a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.navigation {
    display: inline;
    font-size: 16px;
}
.left-nav {
    float: left;
}
.right-nav {
    float: right;
}
.center-page {
    text-align: center;
}
.center-list {
    list-style: none;
}
.logo-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 120px;
}
.input-form {
    border-radius: 24px;
    font-size: 32px;
}
button.buttons {
    border: none;
    border-radius: 3px;
    background-color: lightgray;
    display: inline-block;
    text-align: center;
    margin: 10px 10px 10px 10px;
    font-size: 24px;
    cursor: pointer;
}
.footer {
    background-color: lightgray;
    border-top: 1px solid gray;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.left-footer-part {
    float: left;
    display: inline;
    font-size: 16px;
    padding: 10px;
}
.right-footer-part {
    float: right;
    display: inline;
    font-size: 16px;
    padding: 10px;
}
