.navigation {
    display: inline;
    font-size: 7px;
}
.left-nav {
    float: left;
}
.right-nav {
    float: right;
}
.center-page {
    text-align: center;
}
.logo-center  img {
    display: block;
    margin-right: auto;
    margin-left: 40%;
    padding-top: 120px;
}